<html>
    <head>
        <link rel="stylesheet" href="menu.css">
        <title>Assignment1</title>
    </head>
    <body>
            <img src="header pic.jpeg" alt=""><hr>
            <a href="../Home/Home.html">Home</a>
            <a href="../Menu/Menu.html">Menu</a>
            <a href="../About/About.html">About</a>
            <a href="../Timings/Timings.html">Timings</a>
            <a href="../ContectUs/ContectUS.html">Contact Us</a><hr>
            <h1>Our Menu</h1>
            <h2>Burgers</h2>

            <img style="height: 190px; width: 190px;" src="../../assets/0c06e239-0ae6-445d-9be8-2dfd0d24e728.jpeg" alt="">
            <img style="height: 190px; width: 190px;" src="../../assets/8c27a258-7c02-4b6c-81db-8bd6591f27b1.jpeg" alt="">
            <img style="height: 190px; width: 190px;" src="../../assets/663ead01-3bb8-4a12-ad39-3a6bc1cff2e4.jpeg" alt="">
            <h2>Pizza</h2>
            <img style="height: 190px; width: 190px;" src="../../assets/73c9ea74-4c71-48d3-8670-63c34ec4f2ae.jpeg" alt="">
            <img style="height: 190px; width: 190px;" src="../../assets/b20afe8a-f896-4916-977b-5406729d6551.jpeg" alt="">
            <img style="height: 190px; width: 190px;" src="../../assets/de54302a-65b7-4a30-b05c-8628a5c5d350.jpeg" alt=""><hr>
            <footer>
                <p>Copyright &copy; 2021 Umair's cuisine</p>
            </footer>
            
    </body>
</html>