<html>
    <head>
        <link rel="stylesheet" href="home.css">
        <title>Assignment1</title>
    </head>
    <body>
        <img src="../../assets/bb29c037-22c5-4b63-8649-34e7872c9fb0.jpeg" alt="">
        <hr>
        <a href="../Home/Home.html">Home</a>
        <a href="../Menu/Menu.html">Menu</a>
        <a href="../About/About.html">About</a>
        <a href="../Timings/Timings.html">Timings</a>
        <a href="../ContectUs/ContectUS.html">Contact Us</a>
        <hr>
        <h1>We serve most delicious fast food items</h1>
        <img style="height: 190px; width: 190px;" src="../../assets/0c06e239-0ae6-445d-9be8-2dfd0d24e728.jpeg" alt="">
        <img style="height: 190px; width: 190px;" src="../../assets/de54302a-65b7-4a30-b05c-8628a5c5d350.jpeg" alt="">
        <img  style="height: 190px; width: 190px;" src="../../assets/663ead01-3bb8-4a12-ad39-3a6bc1cff2e4.jpeg" alt=""><br>
        <button><u>Lets see our menu</u></button>
        <hr>
        <footer>
            <p>Copyright &copy; 2021 Umair's cuisine</p>
        </footer>
        
    </body>
</html>