<html>
    <head>
        <link rel="stylesheet" href="about.css">
        <title>Assignment1</title>
        </head>
    <body>
            <img src="../../assets/bb29c037-22c5-4b63-8649-34e7872c9fb0.jpeg" alt=""><hr>
            <a href="../Home/Home.html">Home</a>
        <a href="../Menu/Menu.html">Menu</a>
        <a href="../About/About.html">About</a>
        <a href="../Timings/Timings.html">Timings</a>
        <a href="../ContectUs/ContectUS.html">Contact Us</a><hr>
            <h1>About</h1>
            <h2>The Umar's cuisine was founded in Faisalabad by Mr.Umar</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi doloremque quod provident quam, laboriosam ut sed. Optio voluptatum blanditiis quod, quia architecto doloribus magnam voluptas quo ex nisi excepturi ut.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero commodi ab ducimus vero dolore, voluptas, deserunt eveniet dignissimos architecto aut dolores ipsa magnam reiciendis earum. Doloribus minima atque omnis reprehenderit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quia fugiat non, illo id quibusdam neque porro aliquam fugit perferendis, tenetur aperiam alias quaerat, temporibus corporis laudantium harum doloribus ex.</p>
            <p><b>The Chief </b>Umar Ahmad</p><br>
            <p>We are proud of our interiors</p><hr>
            <footer>
                <p>Copyright &copy; 2021 Umair's cuisine</p>
            </footer>
            
    </body>
</html>